
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户主页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="../../static/layui/css/layui.css">
  <link rel="stylesheet" href="../../static/css/global.css">
</head>
<body style="margin-top: 65px;">

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="../../static/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <li class="layui-nav-item">
        <a href="../case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
      </li>
      <li class="layui-nav-item">
        <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
      </li>
    </ul>
    
    {% if user %}
        <ul class="layui-nav fly-nav-user">
      <!-- 登入后的状态 -->
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs">{{ user.user_name }}</cite>
          <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
            {% if user.id == 2 %}
          <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>
            {% endif %}
           {% if user.avatar_url %}
            <img src="{{ user.avatar_url }}">
            {% else %}
                <img src="../../static/images/avatar/5.jpg">
            {% endif %}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="{{ url_for("user_blu.set") }}"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a href="{{ url_for("user_blu.message") }}"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
          <dd><a href="{{ url_for("user_blu.home") }}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd><a href="{{ url_for("user_blu.logout") }}" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
    </ul>

    {% endif %}
  </div>
</div>

<div class="fly-home fly-panel" style="background-image: url();">
{% if user.avatar_url %}
     <img src="{{ user.avatar_url }}" alt="贤心">
{% else %}
    <img src="../../static/images/avatar/5.jpg">

{% endif %}

  <i class="iconfont icon-renzheng" title="Fly社区认证"></i>
  <h1>
    {{ user.user_name }}
    <i class="iconfont icon-nan"></i>
    <!-- <i class="iconfont icon-nv"></i>  -->
      {% if user.id == 2 %}
    <i class="layui-badge fly-badge-vip">VIP3</i>
      {% endif %}
    <!--
    <span style="color:#c00;">（管理员）</span>
    <span style="color:#5FB878;">（社区之光）</span>
    <span>（该号已被封）</span>
    -->
  </h1>

  <p style="padding: 10px 0; color: #5FB878;">认证信息:管理员</p>

  <p class="fly-home-info">
    <i class="iconfont icon-kiss" title="飞吻"></i><span style="color: #FF7200;">66666 飞吻</span>
    <i class="iconfont icon-shijian"></i><span>{{ user.create_time }}</span>
    <i class="iconfont icon-chengshi"></i><span>来自{{ user.city }}</span>
  </p>
    {% if user.signature %}
    <p class="fly-home-sign">（{{ user.signature }}）</p>
    {% else %}
    <p class="fly-home-sign">（这个用户很懒，什么也没有留下）</p>
    {% endif %}


</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6 fly-home-jie">
      <div class="fly-panel">
        <h3 class="fly-panel-title">{{ user.user_name }}的帖子</h3>
        <ul class="jie-row">
            {% for x in issue %}
                <li>
                    <a href="" class="jie-title">{{ x.title }}</a>
                    <i>{{ x.create_time }}</i>
                    <em class="layui-hide-xs">{{ reply_s }}回复</em>
                </li>
            {% endfor %}

          <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div> -->
        </ul>
      </div>
    </div>
    
    <div class="layui-col-md6 fly-home-da">
      <div class="fly-panel">
        <h3 class="fly-panel-title">{{ user.user_name }}的回答</h3>
        <ul class="home-jieda">
            {% for i in user_answer %}
                <li>
                    <a href="" class="jie-title">{{ i.content }}</a>
                    <i>{{ i.contet }}</i>
                    <em class="layui-hide-xs"></em>
                </li>
            {% endfor %}

        
          <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></div> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
  <p>
    <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
    <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
    <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
  </p>
</div>

<script src="../../static/layui/layui.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../static/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../static/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>